@model OnlineExaminationSystem.Models.PartialLoginModel
@{
    Layout = null;
}

<div style="color: white;
padding: 0px 50px 5px 50px;
float: right;
font-size: 16px;">
    @if (Model.IsLogedIn)
    {

        if (Model.LastVisit.HasValue)
            {
            <p style="display:inline-block;">
                @string.Format("Welcome {0}, Last Access @ {1:dd} {1:MMMM} {1:yyyy}", Model.UserName, Model.LastVisit.Value)
                &nbsp;
            </p>
            }else
            {
            <p style="display:inline-block;">
                Welcome @Model.UserName &nbsp;
            </p>
                }
        <a style="display:inline-block;" href="/Account/Logoff" class="btn btn-danger square-btn-adjust">Logout</a>


                }
                else
                {
        <a href="/Account/Login" class="btn btn-danger square-btn-adjust">Login</a>

                }
</div>
