@model OnlineExaminationSystem.Models.PartialLoginModel
@{
    Layout = null;
}

<div style="color: white;
padding: 0px 50px 5px 50px;
float: right;
font-size: 16px;">
    @if (Model.IsLogedIn)
    {
        <p style="display:inline-block;"> Welcom @Model.UserName, Last access : 30 May 2014 &nbsp;</p>
        <a style="display:inline-block;" href="/Account/Logoff" class="btn btn-danger square-btn-adjust">Logout</a>


    }
    else
    {
        <a href="/Account/Login" class="btn btn-danger square-btn-adjust">Login</a>

    }
</div>
