@{
    ViewBag.Title = "Administration";
    ViewBag.BannerClass = "banner";
}

@section testimonials
{
    <!--/start-text-slider-->
    <div class="testimonials" id="testimonials">
        @Html.Action("Login", "Account")
    </div>
}
